.transaction-card{
  border: 1px solid black;
  margin: 30px;
  padding: 20px;
  position: relative;
}

.creadit-transaction{
  color: green;
}
.debit-transaction{
  color: red;
}
.amount-transaction{
  font-size: 30px;
  font-weight: bold;
}
.category-transaction{
 position: absolute;
 top: 0;
 right: 20px;
}