.image-main{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* color: white; */
    /* flex-direction: column; */
    font-size: 20px;
}
.text-poster{
    margin-top: -10px;
}
.img-fundimg{
    height: 500px;
}

.get-start{
    padding: 20px 5px;
    border-radius: 5px;
    height: 40px;
    width: 60px;
}
.m--10{
    margin-top: -25px;
}
.m-20px{
    margin-top: 20px;
}

.home-poster{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    padding: 50px;
    background-color: rgba(157, 157, 157, 0.169)
}

.home-poster-text{
    margin: 10px;
    padding: 30px;
    width: 500px;
}
.poster-img{
    border-radius:  200px 0;
}
.bg-orange{
    
    background-color:#ffe6e6 ;
}
.bg-white{
    background-color: white;
}
.devlop-name{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color:#314259 ;
    color: white;
}
.img-github-logo{
    border-radius: 50%;
    margin-left: 5px;
}

@media screen and  (max-width:768px) {
    .image-main{
        width: 100%;
        height: 300px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }
    .img-fundimg{
        width: 100%;
        /* margin-bottom: 500px; */
    }
    .m--10{
        margin-top: -20px;
    }

    .margin-top{
        margin-top: 500px;
    }

    .home-poster{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       padding: 10px;
    }
    
    .home-poster-text{
        margin: 10px;
        padding: 30px;
     
        width: 300px;
    }
    .poster-img{
        border-radius:  100px 0;
        width: 350px;
        margin-top: 30px;
    }
}